body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
header {
    position: relative;
}
p:first-letter {
    font-weight: bold;
}
:not(p) + p:first-line {
    font-variant: small-caps;
}
h2 + p {
    text-indent: 0px;

}
.sacola {
    background: url(../img/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;
}
.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu-opcoes ul {
    font-size: 15px;
}
.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}
.menu-opcoes a {
    color: #003366;
}
article {
    margin-bottom: 10px;
}
h2 {
    font-size: 20px;
    border-bottom: 2px solid #333333;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px
}
figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px
}
figcaption {
    font-style: italic;
    margin-top: 10px;
}
.container {
    margin: 0 auto;
    width: 940px;
}
#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
.maps {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 300px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;

}
.youtube {
    display: block;
    margin: 10px auto;
}
footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 20px 0;
}
footer .container {
    position: relative;
}
.social {
    position: absolute;
    top: 12px;
    right: 0;
}
.social li {
    float: left;
    margin-left: 25px
}
.social a{
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
}
.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);

}
.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}
.social a[href*="plus.google.com"] {
    background-image: url(../img/googleplus.png);
}
